@page "/"

<h1 class="mb-4">
    Sistema RPG
</h1>

<p class="mb-5">
    Administrador de personajes del juego.
</p>

<div class="row g-4">

    <div class="col-md-4">

        <div class="dashboard-card">

            <h4>
                Crear Guerrero
            </h4>

            <p>
                Registrar guerreros al sistema.
            </p>

            <a href="/guerreros"
                   class="btn btn-primary">

                Crear

            </a>

        </div>

    </div>

    <div class="col-md-4">

        <div class="dashboard-card">

            <h4>
                Crear Mago
            </h4>

            <p>
                Registrar magos al sistema.
            </p>

            <a href="/magos"
                   class="btn btn-primary">

                Crear

            </a>

        </div>

    </div>

    <div class="col-md-4">

        <div class="dashboard-card">

            <h4>
                Crear Arquero
            </h4>

            <p>
                Registrar arqueros al sistema.
            </p>

            <a href="/arqueros"
                   class="btn btn-primary">

                Crear

            </a>

        </div>

    </div>

</div>